@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600;700;800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: white;
    font-family: 'Poppins', sans-serif;
}

/* common styles */
.container{
    max-width: 80%;
    margin: auto;
    padding: 0 20px;
}
.btn{
    padding: 10px 20px;
    margin: 0.2rem;
    border: none;
    border-radius: 5px;
    background-color: #000;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}
::selection{
    background-color: #000;
    color: #fff;
}
.text_center{
    text-align: center;
}
/* style for navbar */
.nav_menu{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: bisque;
    height: 50px;
    width:100%;
}
.logo{
    font-size: 1.5rem;
    font-weight: bold;
    color: black;
}
.nav_end > ul{
    display: flex;
    flex-direction: row;
}
.nav_end > ul > li{
    list-style:none;
    margin: 0 0.5rem;
}
.nav_end > ul > li >a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}
.nav_end > ul > li >a:hover{
    color: red;
}
/* banner styles */
.banner{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("/images/banner.png");
    background-size: contain;
    background-position:  0% 155%;
    background-repeat: no-repeat;
    
}
.banner_content_left{
    color: dodgerblue;
    font-size: 1.2rem;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    row-gap: 1rem;
}
.banner-flex_btn{
    margin: 1rem 0;
}
.banner_content_right{
    width: 50%;
}
.banner_content_right > img{
    width: 100%; 
    height: 100%;
}
/* about section styles */
.about{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.about_content{
    text-align: center;
    color: dodgerblue;
    font-size: 1.2rem;
}
/* Services section stles */
.services{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.service_container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;

}
.services_content{
    text-align: center;
    color: dodgerblue;
    font-size: 1.2rem;
}

/* media query for service section */
@media screen and (max-width: 768px){
    .service_container{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (max-width: 480px){
    .service_container{
        grid-template-columns: repeat(1, 1fr);
    }
}



    